#hero-image {
  mix-blend-mode: darken;
}

.elementor-902 .elementor-element.elementor-element-ec19095 > .elementor-shape-top svg,
.elementor-902 .elementor-element.elementor-element-ec19095 > .e-con-inner > .elementor-shape-top svg {
  height: 0;
}

// (mobile only)
@media (max-width: 767px) {
  .page-slug-home-2 h2 {
    font-size: 4em !important;
    margin-top: 50px !important;
    line-height: 0.8em !important;
  }
}
